GROQ_API_KEY=
GOOGLE_API_KEY=
LLM_MODEL=llama-3.1-8b-instant
STT_MODEL=whisper-large-v3-turbo
TTS_MODEL=gemini-2.5-flash-preview-tts
TTS_VOICE=es-ES-Standard-C
WAKE_WORD=servidor
WAKE_WORD_THRESHOLD=80
PTT_KEY=x
LAT=7.3742
LON=-72.6477
VAD_AGGRESSIVENESS=2
TZ=America/Bogota
