Screen {
    background: #000000;
}

ClockWidget {
    width: 100%;
    height: 20;
    content-align: center middle;
}

WeatherWidget {
    width: 100%;
    height: 1;
    content-align: center middle;
}

StatusWidget {
    dock: bottom;
    width: 100%;
    height: 8;
    padding: 0 2;
}
