Screen {
    background: #000000;
}

#main {
    layout: vertical;
    align: center middle;
    height: 1fr;
    padding-top: 8;
}

ClockWidget {
    width: 100%;
    height: 9;
    content-align: center middle;
}

WeatherWidget {
    width: 100%;
    height: 1;
    content-align: center middle;
}

StatusWidget {
    width: 100%;
    height: 4;
    padding: 3 2 0 2;
    content-align: center middle;
}
